{{- if .Values.dbSetup.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "fullname" . }}-db-setup
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  template:
    metadata:
      labels:
        app: {{ template "name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["bundle", "exec", "rake", "db:create", "db:migrate", "redmine:plugins", "NAME=redmine_agile", "RAILS_ENV=production"]
          env:
{{ toYaml .Values.app.env | indent 12 }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      restartPolicy: Never
{{- end }}
